.container {
    display: flex;
    width: 100%;
    height: 90px;
    padding: 0 16px;
    background-color: #181818;
    border-top: 1px solid #282828;
    min-width: 620px;
    user-select: none;
    justify-content: space-between;
    align-items: center;

    .track-info {
        min-width: 180px;
        width: 30%;

        .info-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            position: relative;
            align-items: center;

            .cover-photo {
                position: relative;
                isolation: isolate;
                vertical-align: baseline;

                img {
                    width: 56px;
                    height: 56px;
                    max-width: unset;
                }
            }

            .cover-info {
                font-size: 0.875rem;
                line-height: 1rem;
                font-weight: 400;
                align-items: center;
                column-gap: 8px;
                display: grid;
                margin: 0px 14px;

                .name {
                    &:hover {
                        text-decoration: underline;
                    }
                    color: rgb(255, 255, 255);
                    width: fit-content;
                }

                .artists {
                    .artist-name:hover {
                        text-decoration: underline;
                    }
                    font-size: 0.6875rem;
                    line-height: 1rem;
                    font-weight: 400;
                    color: #6a6a6a;
                }
            }
        }
    }

    .player {
        max-width: 722px;
        width: 40%;
    }

    .other {
        min-width: 180px;
        width: 30%;
        justify-content: flex-end;
        display: flex;
    }


}