.name-col {
    .name {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        &.playing {
            color: #1db954;
        }
    }

    .artist {
        color: #b3b3b3;
        display: flex;

        .artist-name:hover {
            text-decoration: underline;
        }

        .explicity {
            align-items: center;
            background-color: rgba(255, 255, 255, .6);
            border-radius: 2px;
            color: #121212;
            display: inline-flex;
            font-size: 9px;
            height: 16px;
            justify-content: center;
            line-height: 10px;
            padding: 3px 5px;
            text-transform: uppercase;
            align-self: center;
            margin-right: 5px;
        }
    }
}

.table-container {
    padding: 0 10px;
}

.heart {
    color: rgba(255,255,255,.7) !important;
    margin-right: 15px !important;
    svg {
        height: 16px;
        width: 16px;
        &.favorite {
            color: #1db954;
        }
    }
}