.header {
    height: 64;
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    z-index: 2;

    .inner-header {
        display: flex;
        justify-content: flex-end;
        padding-right: 15px;
        width: 100%;
        align-items: center;
        z-index: 2;
    
        .header-section-left {
            flex: 1;
            color: white;
            height: fit-content;
        }
    }

    .bg {
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;
        z-index: -1;
        left: 0;
        height: 64px;
        background-color: #181818;
    }
}